/* work.css */

.mywork {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}



.myworktitle h1 {
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}

.myworkcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    position: relative;
}

.work-box {
    border: 2px solid whitesmoke;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, width 0.2s ease-in-out; /* Added width transition */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    cursor: pointer; /* Add cursor pointer on hover */
    transition: transform 0.3s ease;
}

.work-box:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
}

.work-box:hover img {
    border: 4px solid  #ff00ff; /* Change image border color on hover */
}


.work-details h2 {
    font-size: 1.2rem;
    margin-top: 10px;
}

.work-details p {
    font-size: 0.9rem;
    color: #777;
}

.work-box:hover .work-details {
    color: #ff00ff; /* Change color on hover */
}
.myworktitle {
    position: relative;
    text-align: center; /* Center the text */
}

.myworktitle h1 {
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
    /* Add animation to the title */
    animation: fadeInUp 1s ease both;
    color: transparent; /* Hide the text initially */
    background-image: linear-gradient(270deg, #ff00ff, #b415ff); /* Custom gradient */
    background-clip: text;
    -webkit-background-clip: text;
    position: relative;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes underlineAnimation {
    to {
        width: 150px; /* Adjust the width as needed */
    }
}
.animated-line {
    width: 100%;
    height: 2px;
    background-color: #ff00ff; /* Adjust the color as needed */
    position: relative;
    animation: scaleAnimation 2s infinite alternate;
}

@keyframes scaleAnimation {
    0% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(1.2);
    }
}
